{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A propos du club de Jiu Jitsu Bresilien de Belfort">
    <meta name="author" content="">

    <title>Schmitz Team Belfort | Jiu Jitsu Bresilien | About</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/business-casual.css' %}" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

</head>

<body>
    <div class="item active">
                                <img class="img-responsive img-full" src="{% static 'img/logo.jpg' %}" alt="">
    </div>
    <!--
    <div class="brand">Business Casual</div>
    <div class="address-bar">3481 Melrose Place | Beverly Hills, CA 90210 | 123.456.7890</div>
    <div class="address-bar">3481 Melrose Place | Beverly Hills, CA 90210 | 123.456.7890</div>
-->
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Schmitz Team Belfort</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html">Accueil</a>
                    </li>
                    <li>
                        <a href="blog.html">News</a>
                    </li>
                    <li>
                        <a href="about.html">Le Club</a>
                    </li>
                    <li>
                        <a href="jjb.html">Le JJB</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"> A propos de la Schmitz Team Belfort
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <p>L'initiative de la création de la « Schmitz Team Belfort » revient à Raphaël Schmitz ( Ceinture noire  De La Riva 2ème degrés – Professeur et Trésorier ) et Philippe Remy ( ceinture violette – Assistant instructeur et Président ). Ce dernier étant belfortain et ayant pour habitude de faire la route pour aller s'entraîner en Alsace chez Raphaël, les deux ont trouvé opportun de combler le vide martial en terme de JJB dans le territoire.
Le dépôt des statuts de l'association date de Juillet 2010. La saison 2010-2011 ne proposait qu'un créneau le samedi matin, le groupe était réduit, mais le projet était bien lancé. Cinq saisons plus tard, grâce à la confiance accordée par le service des sports de la mairie de Belfort, l'effectif s'est étoffé, le niveau s’élève, le club avance lentement mais sûrement.</p>
                    <img class="img-responsive img-border img-full" src="{% static 'img/slide-2.jpg' %}" alt="">
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <h3>RAPHAËL SCHMITZ : Ceinture Noire JJB De La Riva 2ème degrés, Professeur et Trésorier
                        <br>
                        <small>Titulaire des Brevets d’Etat de judo , Tae Kwon Do et aide moniteur de sport
                                Champion du monde de Jiu Jitsu brésilien IBJJF (masters )</small>
                    </h3>
                    <p>Ceinture noire 5 ème Dan de Judo ; 6ème degré en sambo et Ceinture noire 7 ème Degré de Nunchaku et Combat Complet ; Ceinture noire de Tae Kwon Do(2ème dan) ; 3 fois champion du monde de Combat Complet, . Champion du monde de Kempo. 3ème au championnat du monde de kempo kick boxing. 16 fois Champion du Monde de Nunchaku, Champion de France de Judo (FNSU), médaillé aux championnats d’Europe et aux championnat du monde masters de judo, 15 fois Champion de France de Sambo, Champion d’Europe et Champion du Monde de Sambo (en Masters –68kg), <br/> champion du monde de kombat sambo ; 9 fois vainqueur de la Coupe d’Europe de Jiu-Jitsu Brésilien, expert en Combat libre, 4 fois vainqueur du Tournoi des Ceintures d’Or de Pankido. Champion de France de Tae Kwon Do FFST et FSGT, médaillé aux championnats de France de karaté Jutsu. Champion du monde de judo ( WIBK), champion d’Europe de combat boxing.</p>
                    <br/>
                    <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/XTWNllrF558" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <br/><br/>
                </div>
                <div class="col-lg-12 text-center">
                    <hr>
                    <h3>Philippe Remy (à droite sur la photo) : Ceinture Marron, Instructeur et Président</h3>
                    <br/>
                    <div class="col-lg-6 col-lg-offset-3">
                         <img class="img-responsive img-border img-full" src="{% static 'img/philippe.jpg' %}" alt="">
                    </div>
                    <br/>
                </div>
                <div class="col-lg-12 text-center">
                    <hr>
                    <h3>Mimoun Chikhi : Ceinture Violette, Assistant instructeur, Secrétaire et Webmaster</h3>
                    <br/>
                    <div class="col-lg-6 col-lg-offset-3">
                        <img class="img-responsive img-border img-full" src="{% static 'img/mimoun.jpg' %}" alt="">
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>www.SchmitzTeamBelfort.fr <br/><a href="https://www.facebook.com/SchmitzFightingTeamBelfort" target="_blank">
                        <img src="{% static 'img/f.jpeg' %}"/></a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
