{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="News du club de Jiu Jitsu Bresilien de Belfort">
    <meta name="author" content="">

    <title>Schmitz Team Belfort | Jiu Jitsu Bresilien | News</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/business-casual.css' %}" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

</head>

<body>
	<div class="item active">
                                <img class="img-responsive img-full" src="{% static 'img/logo.jpg' %}' %}" alt="">
    </div>
	<!--
    <div class="brand">Business Casual</div>
    <div class="address-bar">3481 Melrose Place | Beverly Hills, CA 90210 | 123.456.7890</div>
    <div class="address-bar">3481 Melrose Place | Beverly Hills, CA 90210 | 123.456.7890</div>
-->
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">Schmitz Team Belfort</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html">Accueil</a>
                    </li>
                    <li>
                        <a href="blog.html">News</a>
                    </li>
                    <li>
                        <a href="about.html">Le Club</a>
                    </li>
                    <li>
                        <a href="jjb.html">Le JJB</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"> Schmitz Team Belfort News
                    </h2>
                    <hr>
                </div>

                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/tgdone2017.jpg' %}" alt="">
                    <h2>Stage JJB avec Tiago Gadelha !!!
                        <br>
                        <small>28 Mail 2017</small>
                    </h2>
                    <p></p>
                    <hr>
                </div>

                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/tg2017.jpg' %}" alt="">
                    <h2>Stage JJB avec Tiago Gadelha le 28 Mai 2017 !!!
                        <br>
                        <small>12 Avril 2017</small>
                    </h2>
                    <p></p>
                    <hr>
                </div>

                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/20161222.jpg' %}" alt="">
                    <h2>La Schmitz Team Belfort au stage de Leonidas Gondim du 17/12/2016 !!!
                        <br>
                        <small>17 Décembre 2016</small>
                    </h2>
                    <p></p>
                    <hr>
                </div>

                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/20162017.jpg' %}" alt="">
                    <h2>Schmitz Team Belfort 2016/2017
                        <br>
                        <small>19 Septembre 2016</small>
                    </h2>
                    <p></p>
                    <hr>
                </div>

                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/yan.jpg' %}" alt="">
                    <h2>Stage Yan Cabral
                        <br>
                        <small>21 Aout 2016</small>
                    </h2>
                    <p>La Schmitz Team Belfort avec Yan Cabral au Summer Camp Guebwiller !</p>
                    <hr>
                </div>

                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/tg.jpg' %}" alt="">
                    <h2>Stage Tiago Gadhela
                        <br>
                        <small>22 Mai 2016</small>
                    </h2>
                    <p>Super stage de Tiago Gadelha ce dimanche à Belfort !!! Merci à lui et à tous d'être venu aussi nombreux !!!</p>
                    <hr>
                </div>

                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/160206.jpg' %}" alt="">
                    <img class="img-responsive img-border img-full" src="{% static 'img/1602062.jpg' %}" alt="">
                    <h2>Stage Yan Cabral
                        <br>
                        <small>06 Février 2016</small>
                    </h2>
                    <p>Super séminaire pour la Schmitz Team Belfort avec Yan Cabral ! Un mec sympa et disponible, de belles techniques, une bonne ambiance ! Merci à tous les clubs présents, kingersheim, Munchouse, infini jiu jitsu, Ozaki Dachstein et ceux que j'oublie.</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/160125.jpg' %}" alt="">
                    <h2>Interclub
                        <br>
                        <small>25 Janvier 2016</small>
                    </h2>
                    <p>Interclub avec Kingersheim, Mulhouse et WIntzenheim !!! Merci à tous pour la visite !!!</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/finca2.jpg' %}" alt="">
                    <h2>Open de France Grappling JJB FINCA
                        <br>
                        <small>6 Décembre 2015</small>
                    </h2>
                    <p>Résultats de l'Open de France FINCA :
* En Grappling : Léo gagne en -70Kg classe B, Hicham gagne en -77Kg classe B, Jayson en bronze en -85Kg classe B, Hamed en bronze et Philippe gagne en -85Kg Master
* En Jiu Jitsu : Léo gagne en -70Kg Classe B, Hicham en bronze et Alpha en argent en -77Kg Classe B, Jayson en bronze et Vincent en argent en -85Kg Classe B, Antonio bronze en +94Kg Classe B, Hamed en argent en -75Kg Master, Philippe gagne en -85Kg Master et enfin Kostia gagne en -77Kg Classe A
Bilan : 6 médailles d'or, 3 en argent et 5 en bronze, 2 kimonos en guise de trophées du meilleur combattant pour Léo en Classe B et Philippe en master. Une belle journée, des choses à revoir mais dans l'ensemble c'était vraiment pas mal. A noter que la Schmitz Team du 68 s'est aussi illustrée, bravo à tous !!!!</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/inter0915.jpg' %}" alt="">
                    <h2>Interclub avec le Schmitz Team Kingersheim
                        <br>
                        <small>21 Septembre 2015</small>
                    </h2>
                    <p>Merci de la visite !</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/team.jpg' %}" alt="">
                    <h2>Schmitz Team Belfort 2015/2016
                        <br>
                        <small>21 Septembre 2015</small>
                    </h2>
                    <p></p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/ps.jpg' %}" alt="">
                    <h2>Passage de grade
                        <br>
                        <small>21 Septembre 2015</small>
                    </h2>
                    <p>Rattrapage du passage de grade, pour les absents (excusés) de mai dernier : Patrice ceinture blanche premier degré et deux nouvelles ceintures bleues : Cyril et Clément !!! Félicitations à tous !!! </p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/passage5015.jpg' %}" alt="">
                    <h2>Passage de grade
                        <br>
                        <small>15 Juin 2015</small>
                    </h2>
                    <p>Passage de grade 2015 : Hamed, Murat et Jérôme, ceinture blanche 1er degrés; Xavier, Hicham, Joachim, Arnaud, ceinture blanche 2ème degrés; Vincent, ceinture blanche 3ème degrés; Benoît Ceinture Bleue! ; Edin, ceinture bleue 2ème degrés; Mimoun Ceinture Violette ! et Philippe ceinture violette 1er degrés;
FÉLICITATIONS ! </p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/slide-1.jpg' %}" alt="">
                    <h2>Stage DE LA RIVA
                        <br>
                        <small>14 Mai 2015</small>
                    </h2>
					<p>La Schmitz Team Belfort et deux Mestre pour le stage de Ricardo De La Riva, un grand moment, merci à tous les gens présents ! </p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/dlr.jpg' %}" alt="">
                    <h2>Stage DE LA RIVA
                        <br>
                        <small>14 Mai 2015</small>
                    </h2>
					<p>Stage de Ricardo De La Riva du 14/05/15 : il a fait le plein ! Et c'est mérité !</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/finca.jpg' %}" alt="">
                    <h2>Grand Prix d'Europe de Combat Jiu Jitsu FINCA
                        <br>
                        <small>18 Janvier 2015</small>
                    </h2>
											<p>Résultats du Grand Prix d'Europe de Combat Jiu Jitsu FINCA à Soultz, de la gauche vers la droite :
						* Joachim gagne en Jiu Jitsu et fait second en Grappling -85Kg Senior Classe B
						* Benoît gagne en Jiu Jitsu et en Grappling -84Kg Junior
						* Francois gagne en Jiu Jitsu et fait second en Grappling -75Kg vétéran
						* Mimoun gagne en Jiu Jitsu +94Kg Vétéran
						Félicitations ! Tous en or en Jiu Jitsu et pas trop mal en Grappling !</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/slide-2.jpg' %}" alt="">
                    <h2>Interclub
                        <br>
                        <small>8 décembre 2014</small>
                    </h2>
					<p>Photo de l'interclub du08/12/2014 à Belfort. Merci à tous ceux qui ont fait l'effort de venir malgré le froid ! </p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/roger.jpg' %}" alt="">
                    <h2>Stage Roger Gracie
                        <br>
                        <small>15 Aout 2014</small>
                    </h2>
					<p>Superbe journée ! Le plus grand champion de notre discipline est un homme humble et accessible ! </p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/belt.jpg' %}" alt="">
                    <h2>Passage de grade
                        <br>
                        <small>17 juin 2014</small>
                    </h2>
					<p>Suite au passage de grade, les félicitations du club à :
* Hicham et Delya qui obtiennent leur première barrette
* Benoit et Clément qui passent ceinture blanche 3 barrettes
* Edin qui passe ceinture bleue et une barrette
* et Philippe ceinture bleue 3 barrettes</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/ben.jpg' %}" alt="">
                    <h2>Bilan du week-end
                        <br>
                        <small>6 Avril 2014</small>
                    </h2>
					<p>Samedi, victoire par soumission de Clément au Big Fight, qualifié pour la finale (revanche?), guerrier !
Dimanche aux Championnats de France FSGT en Grappling et JJB, Hicham fait 3ème en grappling -85 Kg Classe B et livre un combat sérieux en jjb, bravo et continue tes efforts, ca paiera !
Benoît gagne tout ses combats et les titres en jjb et en grappling junior -75Kg, fiers !</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/finca2014.jpg' %}" alt="">
                    <h2>Grand prix FINCA 2014
                        <br>
                        <small>12 Janvier 2014</small>
                    </h2>
					<p>Belle prestation de la Schmitz  Team Belfort ce Samedi lors du Grand Prix FINCA à Turckheim ! Benoit fait 3eme et 1er en NoGi et en Gi Junior -84Kg, Joachim second en Gi classe B -85Kg, Gaetan 2ème en NoGi classe B -85Kg, Philippe 1er en Gi Master Classe A -85Kg, Clément 1er en NoGi Classe B -77Kg, Gaël et Paul absents du podium mais on travaillera ce qui n'allait pas et la prochaine fois vous y serez ! Sinon merci au club de Turckheim, à Raph et à tous les bénévoles pour l'organisation !</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/2013.jpg' %}" alt="">
                    <h2>Nouvelle saison 2013-2014
                        <br>
                        <small>1 octobre 2013</small>
                    </h2>
					<p></p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/grade2013.jpg' %}" alt="">
                    <h2>Passage de grade 2013
                        <br>
                        <small>24 juin 2013</small>
                    </h2>
					<p>Edin Kalac (kimono blanc) a reçut samedi sa ceinture des mains de Raph, c'est la première ceinture bleue "100%" Schmitz  Team Belfort !
Mitsuyo Maeda => Carlos Gracie => Carlson Gracie => Ricardo De La Riva => Raphaël Schmitz => Edin Kalac. Et Félicitations à Gaëtan, Benoît, Teoman et Tugay pour leur grade ! Un petit peu de couture pour ceux qui ont de belles ceintures,</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/royce.jpg' %}" alt="">
                    <h2> Stage Royce Gracie
                        <br>
                        <small>1 mai 2013</small>
                    </h2>
					<p>Stage Royce Gracie lors de son passage à la WFA de Rosenau</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/trio.jpg' %}" alt="">
                    <h2>Coupe de France FSGT
                        <br>
                        <small>4 Avril 2013</small>
                    </h2>
					<p>La Schmitz  Team à l'oeuvre</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/art.jpg' %}" alt="">
                    <h2>Promotion du JJB à Belfort
                        <br>
                        <small>17 Avril 2012</small>
                    </h2>
					<p>Un stage pour promouvoir le JJB et la Schmitz Team Belfort</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/ble.jpg' %}" alt="">
                    <h2>Stage de Raphael Schmitz et Mickael
                        <br>
                        <small>14 Avril 2012</small>
                    </h2>
					<p>Le samedi 14 avril 2012  : STAGE Ouvert à tous  de Jiu Jitsu Brésilien – Grappling Au Gymnase Bonnet au Glacis du Château (rue Anouar El Sadate) de 10h00 à 12h00
Avec Ignaczak Mickaël champion du monde free fight (WTKA), 3 fois vainqueur du Big Fight de Belfort, champion de France FFST sambo de combat et sambo sportif.
Et  Raphaël Schmitz champion du monde de combat complet, kempo, sambo sportif et combat sambo, jiu jitsu Brésilien  (masters)</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/first.jpg' %}" alt="">
                    <h2>Résultats de la Schmitz Team Belfort
                        <br>
                        <small>21 Janvier 2011</small>
                    </h2>
					<p>Chikhi Mimoun (à droite, kimono bleu) gagne la médaille de Bronze de la catégorie des lourds de l'Open Judo-ju jitsu Ne Waza de Pfastatt le 19 décembre dernier.
Bravo à lui, il s'incline avec les honneurs face à deux champions, Sébastien Knapik (en bleu également) et le vainqueur du tournoi (et multiple champion d' Europe) Serge Canario, tous deux du Club de Soultz.</p>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{% static 'img/one.jpg' %}" alt="">
                    <h2>Dossier dans le Pays
                        <br>
                        <small>3 octobre 2010</small>
                    </h2>
					<p><a href="http://www.estrepublicain.fr/fr/region/belfort/article/3899960/Le-jiu-jitsu-bresilien-et-autres-arts-martiaux-meconnus-a-decouvrir-dans-l-Aire-urbaine.html" style="color: #FFFFFF"><u>Lien vers l'article</u></a></p>
                    <hr>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>www.SchmitzTeamBelfort.fr <br/><a href="https://www.facebook.com/SchmitzFightingTeamBelfort" target="_blank">
                        <img src="{% static 'img/f.jpeg"/></a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js"></script>

</body>

</html>
